site_name: Open Ocean datasets & tools
site_description: Open Oceans
site_author: Samapriya Roy
site_url: https://open-oceans.github.io

# Repository
repo_name: open-ocean-readme
repo_url: https://github.com/open-oceans/open-oceans.github.io

# Copyright
copyright: 'Copyright &copy; 2021 - 2022 Samapriya Roy'


# Configuration
theme:
  name: 'material'

  # 404 page
  static_templates:
    - 404.html

  # Don't include MkDocs' JavaScript
  include_search_page: false
  search_index_only: true

  # Default values, taken from mkdocs_theme.yml
  language: en
  palette:
    scheme: default
    primary: navy blue
    accent: deep orange
  font:
    text: Google Sans
    code: Regular
  favicon: assets/favicon.png
  icon:
    logo: logo

# Options
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/samapriya
    - icon: fontawesome/brands/medium
      link: https://medium.com/@samapriyaroy
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/samapriyaroy
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/samapriya

# Extensions
markdown_extensions:
  - admonition
  - abbr
  - attr_list
  - def_list
  - footnotes
  - meta
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde



# Page tree
nav:
  - Open Oceans: index.md
  - pycoral - Simple CLI for Allen Coral Atlas: projects/pycoral.md
  - pyspotter - Simple CLI for SofarOcean Spotters: projects/pyspotter.md
  - pyaqua- Simple CLI for Aqualink.org API: projects/pyaqua.md
  - Open Ocean Datasets in Google Earth Engine:
    - Global Shoreline Dataset: projects/shoreline.md
    - General Bathymetric Chart of the Oceans (GEBCO): projects/gebco.md
    - Argo Float Data(Subset): projects/argo.md
    - Global Storm Surge Reconstruction (GSSR) database: projects/gssr.md
    - Aqualink ocean surface and subsurface temperature subset: projects/aqualink.md
    - Plastic Inputs from Rivers into Oceans: projects/plastic.md
  - Citations: citations.md
